$first-color: #dad7cd;
$second-color: #a3b18a;
$third-color: #3a5a40;
$forth-color: #344e41;
$fifth-color: #588157;

@media only screen and (min-width: 600px) {
  #content {
    display: flex;
  }
}

#left {
  background-color: $second-color;
  margin: 5px;
  padding: 4px;
}
#right {
  background-color: $third-color;
  margin: 5px;
  padding: 4px;
  ul {
    list-style: none;
    font-size: 120%;
    display: block;
  }
}
#rest {
  background-color: $forth-color;
  margin: 5px;
  padding: 4px;
}
a {
  text-decoration: none;
}
a:hover {
  color: $first-color;
}

#h2 {
  color: $fifth-color;
}

body {
  background-color: $first-color;
  font: 100% Helvetica, sans-serif;
  text-align: center;
}
